<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../logo.png">

    <title>Marina's Sports Bar | Pizza Sports Bar & Restaurant</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/lightbox.css">
    <link rel="stylesheet" href="../css/about.css">
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark" id="navbar-main">
                <a class="navbar-brand" href="#">
                    <img src="../logo.png" width="120" alt="Marinas Sports Bar">
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                    <ul class="navbar-nav align-items-center py-2 rounded">
                        <li class="nav-item py-2 text-center text-uppercase">
                            <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item py-2 text-center text-uppercase active">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item py-2 text-center text-uppercase dropdown">
                            <a class="nav-link dropdown-toggle" href="./products.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menus
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item py-2" href="./products-gallery.html">Menu Gallery</a>
                                <a class="dropdown-item py-2" href="./products-list.html">Dine-in / Takeout Menu</a>
                            </div>
                        </li>

                        <a class="navbar-brand-center px-5" href="../index.html">
                            <img src="../logo.png" width="150" alt="Marinas Sports Bar">
                        </a>

                        <li class="nav-item py-2 text-center text-uppercase">
                            <a class="nav-link" href="./gallery.html">Gallery</a>
                        <li class="nav-item py-2 text-center text-uppercase">
                            <a class="nav-link" href="./events.html">Events</a>
                        </li>
                        <li class="nav-item py-2 text-center text-uppercase">
                            <a class="nav-link" href="./contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="about-container py-5">
            <div class="container">
                <div class="row align-items-center p-5
                 text-white">
                    <div class="col-sm-12 col-md-4 py-5" data-aos="fade-right" data-aos-offset="100">
                        <img class="w-100" src="../logo.png">
                    </div>
                    <div class="col-sm-12 col-md-8" data-aos="fade-left" data-aos-offset="100">
                        <div class="about-title">
                            <div class="container-superscript pb-2 text-center"> Our Story </div>
                            <div class="container-title text-uppercase text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="41.125" height="9.146">
                                    <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881 8.576L20.562.591.244 8.576"></path>
                                    <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881.591L20.562 8.576.243.591"></path>
                                </svg>
                                <span class="px-3">About Us</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="41.125" height="9.146">
                                    <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881 8.576L20.562.591.244 8.576"></path>
                                    <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881.591L20.562 8.576.243.591"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="about-content mt-4">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, ab! Earum non consectetur nesciunt quisquam aliquam, blanditiis et tenetur cum dolor reiciendis laudantium quasi aut? Atque similique at repudiandae consequuntur.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde necessitatibus quod, aliquid consectetur repudiandae ut totam ullam mollitia at iure alias soluta! Saepe asperiores nisi culpa autem, quam harum nam!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials-container py-5 px-2">
            <div class="container-superscript pb-2 text-center" data-aos="zoom-out-up" data-aos-offset="100"> Opinions Matter </div>
            <div class="container-title text-uppercase text-center" data-aos="zoom-out-up" data-aos-offset="100">
                <svg xmlns="http://www.w3.org/2000/svg" width="41.125" height="9.146">
                    <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881 8.576L20.562.591.244 8.576"></path>
                    <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881.591L20.562 8.576.243.591"></path>
                </svg>
                <span class="px-3">Testimonials</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="41.125" height="9.146">
                    <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881 8.576L20.562.591.244 8.576"></path>
                    <path fill="none" stroke="#9C7C57" stroke-miterlimit="10" d="M40.881.591L20.562 8.576.243.591"></path>
                </svg>
            </div>
            <div class="container-fluid px-2">
                <div id="carouselTestimonials" class="carousel slide carousel-multiple" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselTestimonials" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselTestimonials" data-slide-to="1"></li>
                        <li data-target="#carouselTestimonials" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item text-center py-3 active">
                            <div class="testimonial-item p-5">
                                <div class="testimonial-image">
                                    <img src="../img/testimonials/user-1.jpg">
                                </div>
                                <div class="testimonial-title">
                                    Jacob Serino
                                </div>
                                <div class="testimonial-subtitle">
                                    CEO of Company #1
                                </div>
                                <div class="testimonial-content mt-3 px-2">
                                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolore atque neque molestias asperiores! Repellat reiciendis molestiae rem commodi assumenda accusantium magni. Ipsa assumenda repudiandae, accusamus vitae similique voluptates reiciendis.</span>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item text-center py-3">
                            <div class="testimonial-item p-5">
                                <div class="testimonial-image">
                                    <img src="../img/testimonials/user-2.jpg">
                                </div>
                                <div class="testimonial-title">
                                    Angelica Serino
                                </div>
                                <div class="testimonial-subtitle">
                                    Chef at Company #2
                                </div>
                                <div class="testimonial-content mt-3 px-2">
                                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolore atque neque molestias asperiores! Repellat reiciendis molestiae rem commodi assumenda accusantium magni. Ipsa assumenda repudiandae, accusamus vitae similique voluptates reiciendis.</span>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item text-center py-3">
                            <div class="testimonial-item p-5">
                                <div class="testimonial-image">
                                    <img src="../img/testimonials/user-3.jpg">
                                </div>
                                <div class="testimonial-title">
                                    Albus Dumbledore
                                </div>
                                <div class="testimonial-subtitle">
                                    Food Specialist at Company #2
                                </div>
                                <div class="testimonial-content mt-3 px-2">
                                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolore atque neque molestias asperiores! Repellat reiciendis molestiae rem commodi assumenda accusantium magni. Ipsa assumenda repudiandae, accusamus vitae similique voluptates reiciendis.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselTestimonials" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselTestimonials" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container-fluid text-center">
            <div class="footer-logo">
                <img src="../logo.png" width="150" alt="Marinas Sports Bar">
            </div>
            <div class="footer-title my-2">
                Marina's Pizza Sport Bar & Restaurant
            </div>
            <div class="footer-address">
                545 Talbot St, Port McNicoll, ON. L0K 1R0, Canada
            </div>
            <div class="footer-contact">
                705 534-3555
            </div>
            <div class="footer-socialmedia mt-5">
                <button class="btn btn-facebook mx-3"> Facebook </button>
                <button class="btn btn-twitter mx-3"> Twitter </button>
            </div>
            <div class="footer-copyright mt-5">
                © 2020 MARINA'S PIZZA SPORT BAR & RESTAURANT, ALL RIGHTS RESERVED.
            </div>
        </div>
    </footer>
</body>

<script src="../js/jquery.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/aos.js"></script>
<script src="../js/lightbox.min.js"></script>
<script src="../js/index.js"></script>

</html>