<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../logo.png">

    <title>Marina's Sports Bar | Pizza Sports Bar & Restaurant</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/lightbox.css">
    <link rel="stylesheet" href="../css/products.css">
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark" id="navbar-main">
                <a class="navbar-brand" href="#">
                    <img src="../logo.png" width="120" alt="Marinas Sports Bar">
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                    <ul class="navbar-nav align-items-center py-2 rounded">
                        <li class="nav-item py-2 text-center text-uppercase">
                            <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item py-2 text-center text-uppercase">
                            <a class="nav-link" href="./about.html">About</a>
                        </li>
                        <li class="nav-item py-2 text-center text-uppercase dropdown active">
                            <a class="nav-link dropdown-toggle" href="./products.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menus
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item py-2" href="./products-gallery.html">Menu Gallery</a>
                                <a class="dropdown-item py-2 active" href="./products-list.html">Dine-in / Takeout Menu</a>
                            </div>
                        </li>

                        <a class="navbar-brand-center px-5" href="../index.html">
                            <img src="../logo.png" width="150" alt="Marinas Sports Bar">
                        </a>

                        <li class="nav-item py-2 text-center text-uppercase">
                            <a class="nav-link" href="./gallery.html">Gallery</a>
                        <li class="nav-item py-2 text-center text-uppercase">
                            <a class="nav-link" href="./events.html">Events</a>
                        </li>
                        <li class="nav-item py-2 text-center text-uppercase">
                            <a class="nav-link" href="./contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="products-container py-5">
            <div class="container">
                <div class="products-style-selector text-md-center text-right">
                    <button class="category-option active" onclick="selectCategory(this, 'all')">
                        <span> All </span>
                    </button>
                    <button class="category-option" onclick="selectCategory(this, 'appetizers')">
                        <span> Appetizers </span>
                    </button>
                    <button class="category-option" onclick="selectCategory(this, 'salads')">
                        <span> Salads </span>
                    </button>
                    <button class="category-option" onclick="selectCategory(this, 'frieswedges')">
                        <span> Fries & Wedges </span>
                    </button>
                    <button class="category-option" onclick="selectCategory(this, 'quesadillas')">
                        <span> Quesadillas </span>
                    </button>
                    <button class="category-option" onclick="selectCategory(this, 'wraps')">
                        <span> Wraps </span>
                    </button>
                    <button class="category-option" onclick="selectCategory(this, 'others')">
                        <span> Others </span>
                    </button>
                    <button class="category-option" onclick="selectCategory(this, 'specials')">
                        <span> Specials </span>
                    </button>
                </div>
                <div class="list mt-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item appetizers mb-3" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-title py-2 row align-items-center">
                                    <div class="product-name p-0 col-sm-12 col-md-9">
                                        GARLIC BREAD
                                    </div>
                                    <div class="product-price p-0 col-sm-12 col-md-3 text-sm-left text-md-right">
                                        $4.50
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item appetizers mb-3" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-title py-2 row align-items-center">
                                    <div class="product-name p-0 col-sm-12 col-md-9">
                                        GARLIC BREAD WITH CHEESE
                                    </div>
                                    <div class="product-price p-0 col-sm-12 col-md-3 text-sm-left text-md-right">
                                        $5.50
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item appetizers mb-3" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-title py-2 row align-items-center">
                                    <div class="product-name p-0 col-sm-12 col-md-9">
                                        SPICY GARLIC BREAD
                                    </div>
                                    <div class="product-price p-0 col-sm-12 col-md-3 text-sm-left text-md-right">
                                        $6.50
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item appetizers mb-3" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-title py-2 row align-items-center">
                                    <div class="product-name p-0 col-sm-12 col-md-9">
                                        JUICY CHICKEN FINGERS & FRIES
                                    </div>
                                    <div class="product-price p-0 col-sm-12 col-md-3 text-sm-left text-md-right">
                                        $9.50
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item appetizers mb-3" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-title  py-2 row align-items-center">
                                    <div class="product-name p-0 col-sm-12 col-md-9">
                                        2 POUND 1 FLAVOUR
                                    </div>
                                    <div class="product-price p-0 col-sm-12 col-md-3 text-sm-left text-md-right">

                                    </div>
                                </div>
                                <div class="product-description row p-0 py-2">
                                    BONE-IN -- $20, BONELESS -- $22
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item appetizers mb-3" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-title  py-2 row align-items-center">
                                    <div class="product-name p-0 col-sm-12 col-md-9">
                                        4 POUND 2 FLAVOURS
                                    </div>
                                    <div class="product-price p-0 col-sm-12 col-md-3 text-sm-left text-md-right">

                                    </div>
                                </div>
                                <div class="product-description row p-0 py-2">
                                    BONE-IN -- $40, BONELESS -- $44
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item appetizers mb-3" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-title  py-2 row align-items-center">
                                    <div class="product-name p-0 col-sm-12 col-md-9">
                                        3 POUND 2 FLAVOURS
                                    </div>
                                    <div class="product-price p-0 col-sm-12 col-md-3 text-sm-left text-md-right">

                                    </div>
                                </div>
                                <div class="product-description row p-0 py-2">
                                    BONE-IN -- $30, BONELESS -- $33
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item appetizers mb-3" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-title  py-2 row align-items-center">
                                    <div class="product-name p-0 col-sm-12 col-md-9">
                                        10 POUND 1 FLAVOUR
                                    </div>
                                    <div class="product-price p-0 col-sm-12 col-md-3 text-sm-left text-md-right">

                                    </div>
                                </div>
                                <div class="product-description row p-0 py-2">
                                    BONE-IN -- $94, BONELESS -- $104
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item salads mb-3" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-title  py-2 row align-items-center">
                                    <div class="product-name p-0 col-sm-12 col-md-9">
                                        GREEK SALAD
                                    </div>
                                    <div class="product-price p-0 col-sm-12 col-md-3 text-sm-left text-md-right">
                                        $8.00
                                    </div>
                                </div>
                                <div class="product-description row p-0 py-2">
                                    CRISPY LETTUCE, TOMATOES, RED ONIONS, FETA CHEESE, BLACK OLIVES, WITH GREEK DRESSING
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item salads mb-3" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-title  py-2 row align-items-center">
                                    <div class="product-name p-0 col-sm-12 col-md-9">
                                        CAESAR SALAD
                                    </div>
                                    <div class="product-price p-0 col-sm-12 col-md-3 text-sm-left text-md-right">
                                        $8.00
                                    </div>
                                </div>
                                <div class="product-description row p-0 py-2">
                                    CRISPY ROMAINE,BACON,CROUTONS,PARMESAN CHEESE,WITH CAESAR
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item salads mb-3" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-title  py-2 row align-items-center">
                                    <div class="product-name p-0 col-sm-12 col-md-9">
                                        GARDEN SALAD
                                    </div>
                                    <div class="product-price p-0 col-sm-12 col-md-3 text-sm-left text-md-right">
                                        $8.00
                                    </div>
                                </div>
                                <div class="product-description row p-0 py-2">
                                    CRISPY LETTUCE, TOMATOES,CUCUMBERS
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item salads mb-3" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-title  py-2 row align-items-center">
                                    <div class="product-name p-0 col-sm-12 col-md-9">
                                        CHICKEN CAESER SALAD
                                    </div>
                                    <div class="product-price p-0 col-sm-12 col-md-3 text-sm-left text-md-right">
                                        $10.00
                                    </div>
                                </div>
                                <div class="product-description row p-0 py-2">
                                    WE TOP CAESAR WITH CHICKEN
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item salads mb-3" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-title py-2 row align-items-center">
                                    <div class="product-name p-0 col-sm-12 col-md-9">
                                        SALAD DRESSING CHOICES
                                    </div>
                                    <div class="product-price p-0 col-sm-12 col-md-3 text-sm-left text-md-right">

                                    </div>
                                </div>
                                <div class="product-description row p-0 py-2">
                                    ITALIAN, FRENCH, BALSAMIC, BLUECHEESE, THOUSAND ISLAND
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item frieswedges mb-3" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-title py-2 row align-items-center">
                                    <div class="product-name p-0 col-sm-12 col-md-9">
                                        FRIES BASKET WITH SEASONING SLOT
                                    </div>
                                    <div class="product-price p-0 col-sm-12 col-md-3 text-sm-left text-md-right">
                                        $5.00
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item frieswedges mb-3" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-title py-2 row align-items-center">
                                    <div class="product-name p-0 col-sm-12 col-md-9">
                                        FRIES WITH GRAVY
                                    </div>
                                    <div class="product-price p-0 col-sm-12 col-md-3 text-sm-left text-md-right">
                                        $6.00
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item frieswedges mb-3" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-title py-2 row align-items-center">
                                    <div class="product-name p-0 col-sm-12 col-md-9">
                                        FRIES WITH CHEDDAR CHEDDAR CHEESE
                                    </div>
                                    <div class="product-price p-0 col-sm-12 col-md-3 text-sm-left text-md-right">
                                        $6.00
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container-fluid text-center">
            <div class="footer-logo">
                <img src="../logo.png" width="150" alt="Marinas Sports Bar">
            </div>
            <div class="footer-title my-2">
                Marina's Pizza Sport Bar & Restaurant
            </div>
            <div class="footer-address">
                545 Talbot St, Port McNicoll, ON. L0K 1R0, Canada
            </div>
            <div class="footer-contact">
                705 534-3555
            </div>
            <div class="footer-socialmedia mt-5">
                <button class="btn btn-facebook mx-3"> Facebook </button>
                <button class="btn btn-twitter mx-3"> Twitter </button>
            </div>
            <div class="footer-copyright mt-5">
                © 2020 MARINA'S PIZZA SPORT BAR & RESTAURANT, ALL RIGHTS RESERVED.
            </div>
        </div>
    </footer>
</body>

<script src="../js/jquery.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/aos.js"></script>
<script src="../js/lightbox.min.js"></script>
<script src="../js/index.js"></script>
<script src="../js/products.js"></script>

</html>