<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../logo.png">

    <title>Marina's Sports Bar | Pizza Sports Bar & Restaurant</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/lightbox.css">
    <link rel="stylesheet" href="../css/products.css">
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark" id="navbar-main">
                <a class="navbar-brand" href="#">
                    <img src="../logo.png" width="120" alt="Marinas Sports Bar">
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                    <ul class="navbar-nav align-items-center py-2 rounded">
                        <li class="nav-item py-2 text-center text-uppercase">
                            <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item py-2 text-center text-uppercase">
                            <a class="nav-link" href="./about.html">About</a>
                        </li>
                        <li class="nav-item py-2 text-center text-uppercase dropdown active">
                            <a class="nav-link dropdown-toggle" href="./products.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menus
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item active" href="./products.html?cat=1">Menu #1</a>
                                <a class="dropdown-item" href="./products.html?cat=2">Menu #2</a>
                                <a class="dropdown-item" href="./products.html?cat=3">Menu #3</a>
                            </div>
                        </li>

                        <a class="navbar-brand-center px-5" href="../index.html">
                            <img src="../logo.png" width="150" alt="Marinas Sports Bar">
                        </a>

                        <li class="nav-item py-2 text-center text-uppercase">
                            <a class="nav-link" href="./gallery.html">Gallery</a>
                        <li class="nav-item py-2 text-center text-uppercase">
                            <a class="nav-link" href="./events.html">Events</a>
                        </li>
                        <li class="nav-item py-2 text-center text-uppercase">
                            <a class="nav-link" href="./contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="products-container py-5">
            <div class="container">
                <div class="products-style-selector text-md-center text-right">
                    <button class="grid-style active" onclick="changeStyle('grid')">
                        <svg height="22px" viewBox="0 0 16 16" class="bi bi-grid-3x3-gap" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 2H2v2h2V2zm1 12v-2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm5 10v-2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zM9 2H7v2h2V2zm5 0h-2v2h2V2zM4 7H2v2h2V7zm5 0H7v2h2V7zm5 0h-2v2h2V7zM4 12H2v2h2v-2zm5 0H7v2h2v-2zm5 0h-2v2h2v-2zM12 1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zm-1 6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zm1 4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1h-2z" />
                        </svg>
                        <span class="d-none d-md-block"> Menu Gallery </span>
                    </button>
                    <button class="list-style" onclick="changeStyle('list')">
                        <svg height="22px" viewBox="0 0 16 16" class="bi bi-list-ul" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                        </svg>
                        <span class="d-none d-md-block"> Menu List </span>
                    </button>
                </div>
                <div class="grid mt-4">
                    <div class="row">
                        <div class="product-item-container col-sm-12 col-md-6 col-lg-4 p-3" data-aos="zoom-out-up" data-aos-offset="100" data-aos="zoom-out-up" data-aos-offset="100">
                            <a href="../img/products/product-1.jpg" data-toggle="lightbox" data-gallery="product-gallery">
                                <div class="product-item">
                                    <div class="product-image">
                                        <img class="w-100" src="../img/products/product-1.jpg">
                                    </div>
                                    <div class="product-info p-3 text-center">
                                        <div class="product-name">
                                            Combo Meal #1
                                        </div>
                                        <div class="product-price">
                                            $24
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product-item-container col-sm-12 col-md-6 col-lg-4 p-3" data-aos="zoom-out-up" data-aos-offset="100">
                            <a href="../img/products/product-2.jpg" data-toggle="lightbox" data-gallery="product-gallery">
                                <div class="product-item">
                                    <div class="product-image">
                                        <img class="w-100" src="../img/products/product-2.jpg">
                                    </div>
                                    <div class="product-info p-3 text-center">
                                        <div class="product-name">
                                            Beef Stroganoff
                                        </div>
                                        <div class="product-price">
                                            $14
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product-item-container col-sm-12 col-md-6 col-lg-4 p-3" data-aos="zoom-out-up" data-aos-offset="100">
                            <a href="../img/products/product-3.jpg" data-toggle="lightbox" data-gallery="product-gallery">
                                <div class="product-item">
                                    <div class="product-image">
                                        <img class="w-100" src="../img/products/product-3.jpg">
                                    </div>
                                    <div class="product-info p-3 text-center">
                                        <div class="product-name">
                                            Combo Meal #2
                                        </div>
                                        <div class="product-price">
                                            $29
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product-item-container col-sm-12 col-md-6 col-lg-4 p-3" data-aos="zoom-out-up" data-aos-offset="100" data-aos="zoom-out-up" data-aos-offset="100">
                            <a href="../img/products/product-1.jpg" data-toggle="lightbox" data-gallery="product-gallery">
                                <div class="product-item">
                                    <div class="product-image">
                                        <img class="w-100" src="../img/products/product-1.jpg">
                                    </div>
                                    <div class="product-info p-3 text-center">
                                        <div class="product-name">
                                            Combo Meal #1
                                        </div>
                                        <div class="product-price">
                                            $24
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product-item-container col-sm-12 col-md-6 col-lg-4 p-3" data-aos="zoom-out-up" data-aos-offset="100">
                            <a href="../img/products/product-2.jpg" data-toggle="lightbox" data-gallery="product-gallery">
                                <div class="product-item">
                                    <div class="product-image">
                                        <img class="w-100" src="../img/products/product-2.jpg">
                                    </div>
                                    <div class="product-info p-3 text-center">
                                        <div class="product-name">
                                            Beef Stroganoff
                                        </div>
                                        <div class="product-price">
                                            $14
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product-item-container col-sm-12 col-md-6 col-lg-4 p-3" data-aos="zoom-out-up" data-aos-offset="100">
                            <a href="../img/products/product-3.jpg" data-toggle="lightbox" data-gallery="product-gallery">
                                <div class="product-item">
                                    <div class="product-image">
                                        <img class="w-100" src="../img/products/product-3.jpg">
                                    </div>
                                    <div class="product-info p-3 text-center">
                                        <div class="product-name">
                                            Combo Meal #2
                                        </div>
                                        <div class="product-price">
                                            $29
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product-item-container col-sm-12 col-md-6 col-lg-4 p-3" data-aos="zoom-out-up" data-aos-offset="100" data-aos="zoom-out-up" data-aos-offset="100">
                            <a href="../img/products/product-1.jpg" data-toggle="lightbox" data-gallery="product-gallery">
                                <div class="product-item">
                                    <div class="product-image">
                                        <img class="w-100" src="../img/products/product-1.jpg">
                                    </div>
                                    <div class="product-info p-3 text-center">
                                        <div class="product-name">
                                            Combo Meal #1
                                        </div>
                                        <div class="product-price">
                                            $24
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product-item-container col-sm-12 col-md-6 col-lg-4 p-3" data-aos="zoom-out-up" data-aos-offset="100">
                            <a href="../img/products/product-2.jpg" data-toggle="lightbox" data-gallery="product-gallery">
                                <div class="product-item">
                                    <div class="product-image">
                                        <img class="w-100" src="../img/products/product-2.jpg">
                                    </div>
                                    <div class="product-info p-3 text-center">
                                        <div class="product-name">
                                            Beef Stroganoff
                                        </div>
                                        <div class="product-price">
                                            $14
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product-item-container col-sm-12 col-md-6 col-lg-4 p-3" data-aos="zoom-out-up" data-aos-offset="100">
                            <a href="../img/products/product-3.jpg" data-toggle="lightbox" data-gallery="product-gallery">
                                <div class="product-item">
                                    <div class="product-image">
                                        <img class="w-100" src="../img/products/product-3.jpg">
                                    </div>
                                    <div class="product-info p-3 text-center">
                                        <div class="product-name">
                                            Combo Meal #2
                                        </div>
                                        <div class="product-price">
                                            $29
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product-item-container col-sm-12 col-md-6 col-lg-4 p-3" data-aos="zoom-out-up" data-aos-offset="100" data-aos="zoom-out-up" data-aos-offset="100">
                            <a href="../img/products/product-1.jpg" data-toggle="lightbox" data-gallery="product-gallery">
                                <div class="product-item">
                                    <div class="product-image">
                                        <img class="w-100" src="../img/products/product-1.jpg">
                                    </div>
                                    <div class="product-info p-3 text-center">
                                        <div class="product-name">
                                            Combo Meal #1
                                        </div>
                                        <div class="product-price">
                                            $24
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product-item-container col-sm-12 col-md-6 col-lg-4 p-3" data-aos="zoom-out-up" data-aos-offset="100">
                            <a href="../img/products/product-2.jpg" data-toggle="lightbox" data-gallery="product-gallery">
                                <div class="product-item">
                                    <div class="product-image">
                                        <img class="w-100" src="../img/products/product-2.jpg">
                                    </div>
                                    <div class="product-info p-3 text-center">
                                        <div class="product-name">
                                            Beef Stroganoff
                                        </div>
                                        <div class="product-price">
                                            $14
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product-item-container col-sm-12 col-md-6 col-lg-4 p-3" data-aos="zoom-out-up" data-aos-offset="100">
                            <a href="../img/products/product-3.jpg" data-toggle="lightbox" data-gallery="product-gallery">
                                <div class="product-item">
                                    <div class="product-image">
                                        <img class="w-100" src="../img/products/product-3.jpg">
                                    </div>
                                    <div class="product-info p-3 text-center">
                                        <div class="product-name">
                                            Combo Meal #2
                                        </div>
                                        <div class="product-price">
                                            $29
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product-item-container col-sm-12 col-md-6 col-lg-4 p-3" data-aos="zoom-out-up" data-aos-offset="100" data-aos="zoom-out-up" data-aos-offset="100">
                            <a href="../img/products/product-1.jpg" data-toggle="lightbox" data-gallery="product-gallery">
                                <div class="product-item">
                                    <div class="product-image">
                                        <img class="w-100" src="../img/products/product-1.jpg">
                                    </div>
                                    <div class="product-info p-3 text-center">
                                        <div class="product-name">
                                            Combo Meal #1
                                        </div>
                                        <div class="product-price">
                                            $24
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product-item-container col-sm-12 col-md-6 col-lg-4 p-3" data-aos="zoom-out-up" data-aos-offset="100">
                            <a href="../img/products/product-2.jpg" data-toggle="lightbox" data-gallery="product-gallery">
                                <div class="product-item">
                                    <div class="product-image">
                                        <img class="w-100" src="../img/products/product-2.jpg">
                                    </div>
                                    <div class="product-info p-3 text-center">
                                        <div class="product-name">
                                            Beef Stroganoff
                                        </div>
                                        <div class="product-price">
                                            $14
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product-item-container col-sm-12 col-md-6 col-lg-4 p-3" data-aos="zoom-out-up" data-aos-offset="100">
                            <a href="../img/products/product-3.jpg" data-toggle="lightbox" data-gallery="product-gallery">
                                <div class="product-item">
                                    <div class="product-image">
                                        <img class="w-100" src="../img/products/product-3.jpg">
                                    </div>
                                    <div class="product-info p-3 text-center">
                                        <div class="product-name">
                                            Combo Meal #2
                                        </div>
                                        <div class="product-price">
                                            $29
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="list mt-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Combo Meal #2
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $29
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Lumpiang Shanghai
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $3
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Adobo
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $49
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Pork Steak
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $29
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Combo Meal #2
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $29
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Lumpiang Shanghai
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $3
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Adobo
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $49
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Pork Steak
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $29
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Combo Meal #2
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $29
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Lumpiang Shanghai
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $3
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Adobo
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $49
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Pork Steak
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $29
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Combo Meal #2
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $29
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Lumpiang Shanghai
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $3
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Adobo
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $49
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Pork Steak
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $29
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Combo Meal #2
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $29
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Lumpiang Shanghai
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $3
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Adobo
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $49
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 px-4 py-2">
                            <div class="product-item row p-3 align-items-center" data-aos="zoom-out-up" data-aos-offset="100">
                                <div class="product-name col-sm-12 col-md-9">
                                    Pork Steak
                                </div>
                                <div class="product-price col-sm-12 col-md-3 text-sm-left text-md-right">
                                    $29
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container-fluid text-center">
            <div class="footer-logo">
                <img src="../logo.png" width="150" alt="Marinas Sports Bar">
            </div>
            <div class="footer-title my-2">
                Marina's Pizza Sport Bar & Restaurant
            </div>
            <div class="footer-address">
                545 Talbot St, Port McNicoll, ON. L0K 1R0, Canada
            </div>
            <div class="footer-contact">
                705 534-3555
            </div>
            <div class="footer-socialmedia mt-5">
                <button class="btn btn-facebook mx-3"> Facebook </button>
                <button class="btn btn-twitter mx-3"> Twitter </button>
            </div>
            <div class="footer-copyright mt-5">
                © 2020 MARINA'S PIZZA SPORT BAR & RESTAURANT, ALL RIGHTS RESERVED.
            </div>
        </div>
    </footer>
</body>

<script src="../js/jquery.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/aos.js"></script>
<script src="../js/lightbox.min.js"></script>
<script src="../js/index.js"></script>
<script src="../js/products.js"></script>

</html>